# System Environment
.env
.env.*
.venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Node Environment
node_modules/
/frontend/.next/
/frontend/out/
frontend/build/
*.tsbuildinfo
.npm
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Database & Vectors
postgres_data/
qdrant_data/
redis_data/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS Specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

docs/*